.Home {
    width: 100%;
    height: 900px;
    background: url("../../Images/background-home-desktop.jpg");
    background-size: cover;
    color: white;
}

.home-top {
    height: 30%;
}

.home-bottom {
    height: 70%;
    display: flex;
    flex-direction: row;
}

.home-left {
    width: 50%;
}

.home-text {
    width: 450px;
    top: 60px;
    left: 22.9%;
    position: relative;
    text-align: left;
}

.home-first {
    font-size: 28px;
    margin: 0;
}

.home-second {
    font-size: 220px;
    margin: 0;
    font-weight: 300;
}

.home-third {
    font-size: 20px;
    margin: 0;
    line-height: 32px;
    width: 444px;
    text-align: justify;
}

.home-right {
    width: 50%;
}

.home-explore {
    position: relative;
    top: 200px;
    height: 274px;
    width: 274px;
    border-radius: 50%;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 100;
    cursor: pointer;
}