.Home {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: url("../../Images/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.home-top {
    height: 30%;
}

.home-bottom {
    height: 70%;
    display: flex;
    flex-direction: row;
}

.home-left {
    width: 50%;
}

.home-text {
    width: 450px;
    top: 60px;
    left: 22.9%;
    position: relative;
    text-align: left;
}

.home-first {
    font-size: 28px;
    margin: 0;
}

.home-second {
    font-size: 220px;
    margin: 0;
    font-weight: 300;
}

.home-third {
    font-size: 20px;
    margin: 0;
    line-height: 32px;
    width: 444px;
    text-align: justify;
}

.home-right {
    width: 50%;
}

.home-explore {
    position: relative;
    top: 200px;
    height: 274px;
    width: 274px;
    border-radius: 50%;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 100;
    cursor: pointer;
}

@media screen and (max-width: 1226px) {
    .Home {
        background: url("../../Images/background-home-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-top {
        height: auto;
    }

    .home-bottom {
        flex-direction: column;;
    }
    
    .home-left {
        width: auto;
        padding: 106px 20.7% 156px;
    }

    .home-text {
        position: static;
        width: 100%;
        text-align: center;
    }

    .home-third {
        margin: auto;
        width: 444px;
        position: static;
    }

    .home-right {
        width: 100%;
    }

    .home-explore {
        top: 0;
        margin-bottom: 90px;
    }
}