@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@100;200;300;400;500&family=Bellefair&display=swap');

.Crew {
    width: 100%;
    height: 900px;
    background: url("../../Images/background-crew-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.top {
    height: auto;
}

.bottom {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    position: absolute;
    top: 212px;
}

.crew-left {
    text-align: left;
    width: 50%;
}

.title {
    position: relative;
    display: inline;
    left: 23.125%;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    line-height: 34px;
    letter-spacing: 4.725px;
}

.title > span {
    font-weight: 700;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.crew-details {
    position: relative;
    left: 23.125%;
    top: 154px;
}

.crew-role {
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.crew-name {
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    margin-top: 15px;
    color: #FFFFFF;
}

.crew-desc {
    margin-top: 27px;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    width: 444px;
    height: 160px;
}

.carousel-buttons {
    margin-top: 120px;
}

.carousel-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
    margin-right: 24px;
}

.carousel-button:hover {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.active-button {
    background: #FFFFFF;
    opacity: 1;
}

.active-button:hover {
    opacity: 1;
}

.crew-right {
    position: relative;
    width: 50%;
}

.crew-image {
    position: relative;
    bottom: -85px;
    height: 601px;
}